<!-- <div class="display-note row">
    <div *ngFor="let note of trashList">
        <mat-card class="note-card">
           
            <mat-card-title class="note-title" >
                {{note.title}}
            </mat-card-title>
            <mat-card-content class="note-description" >
                {{note.description}}
             
            </mat-card-content>
           
           
        </mat-card>
    </div>
</div> -->
<app-displaynote [NotesList]="trashList"></app-displaynote>
