<div class="icons">
    <button class="notesbutton">
        <img src="../../../assets/add_alert.svg" (click)="remind()">
        <img src="../../../assets/person_add.svg">
        <img src="../../../assets/palette.svg"  [matMenuTriggerFor]="paletteMenu">
        <mat-menu #paletteMenu="matMenu">
            <div *ngFor='let colors of colorArray'>
              <button class="colorIcon" [style.background]="colors.code" (click)="selectColor(colors)"></button>
            </div>
          </mat-menu>
        <img src="../../../assets/image.svg">
        <img src="../../../assets/archive.svg" (click)="onArchive()">
       
        <img src="../../../assets/more.svg" [matMenuTriggerFor]="more">
        <mat-menu #more="matMenu">
            <button mat-menu-item (click)="onDelete()">Delete note</button>
            <button mat-menu-item >Add Label</button>
            <button mat-menu-item>Add drawing</button>
            <button mat-menu-item>Make a copy</button>
            <button mat-menu-item>Show checkboxes</button>
            <button mat-menu-item>Copy to google Docs</button>
          </mat-menu>
    </button>
   
</div>
