.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
    border-width:3px ;
    border-style: solid;
    border-color: rgb(229,229,229);
  }
  .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
    border-width:3px ;
    border-style: solid;
    border-color: rgb(229,229,229);
  }
  
  h1.example-app-name {
    margin-left: 8px;

  }
  .example-app-name {
    margin-left: 8px;
    
    padding-top: 18px;
    opacity: 0.8;
  }

  .search-box{    
    display: flex;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
    background-color: rgb(229,229,229);
    border-radius: 10px;
    margin-left: 100px;   
    padding: 10px;
    height: 30px;   
    input{
      background-color: transparent;
      border: none;
      outline-style: none;
    }
    img{
      margin-right: 10px;
      padding: 10px;
      height: 28px;
    }
}

.right-icons{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 100px;
    opacity: 0.7;
    :hover{
      background-color: #f1f3f4;
      border-radius: 50%;
    }
    img{
      margin-right: 10px;
      padding: 10px;
      height: 25px;
      
    }  
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    :hover{
      background-color: #f1f3f4;
      border-radius: 50%;
    }
    img{
    
      padding: 10px;
      height: 25px;
    }   
}

.logoutbtn{
  border: none;
  background-color:transparent;
  border-radius: 50%;
  align-content: center;
 
 
  
}

.nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 60px;
    text-transform: capitalize;
    letter-spacing: 1px;
    
    
    a{
      border-bottom-right-radius:25px ;
      border-top-right-radius: 25px;
    }
    a:focus{
      background-color: #feefc3;
    }
    img{
      margin-right: 10px;
      //padding: 10px;#feefc3

      padding-top: 5px;
      height: 25px;
    }
}
.b{
    margin-bottom: -6px;
}

mat-sidenav, 
mat-sidenav.md-locked-open, 
mat-sidenav.md-closed.md-locked-open-add-active {
    min-width: 10px !important;
    width: 16vw !important;
    max-width: 400px !important;
    border: none !important;
} 




  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
