<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/logo.png" alt="" srcset="" width="40px" height="40px">
    <h1 class="example-app-name">Fundoo</h1>

    <div class="search-box">
      <img src="../../../assets/search.svg">
      <input matInput placeholder="Search">
    </div>
    <div class="top-r8">
      <div class="right-icons">
        <img src="../../../assets/refresh.svg">
        <img src="../../../assets/view.svg">
        <img src="../../../assets/settings.svg">
      </div>

      <div class="menu">
        <img src="../../../assets/apps.svg">
        <button class="logoutbtn">
          <img src="../../../assets/fotor_2023-3-21_21_58_36.png">
        </button>


      </div>

    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="/dashboard/notes">
          <img src="../../../assets/lightbulb_FILL0_wght400_GRAD0_opsz48.svg" class="b"><span
            class="inne">notes</span></a>
        <a mat-list-item routerLink="/dashboard">
          <img src="../../../assets/reminder.svg" class="b"><span class="inne">reminder</span></a>
        <a mat-list-item routerLink="/dashboard">
          <img src="../../../assets/edit.svg" class="b"><span class="inne">label</span></a>
        <a mat-list-item routerLink="/dashboard">
          <img src="../../../assets/archive.svg" class="b"><span class="inne">archive</span></a>
        <a mat-list-item routerLink="/dashboard">
          <img src="../../../assets/delete.svg" class="b"><span class="inne">trash</span></a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>