<div class="main">
    <div class="form_box">
        <div class="row" style="font-weight:500">
            <p style="font-size: 30px ; color: #4285F4">F</p>
            <p style="font-size: 30px ; color: #EA4335">u</p>
            <p style="font-size: 30px ; color: #FBBC05">n</p>
            <p style="font-size: 30px ; color: #4285F4">d</p>
            <p style="font-size: 30px ; color: #34A853">o</p>
            <p style="font-size: 30px ; color: #EA4335">o</p>
        </div>
        <div class="ttl">
            <h1>Find your email</h1>
            <h3>to continue to Fundoo</h3>
        </div>
    
        <form>
            <h4 class="form-group_head">Enter your phone number or recovery email</h4>
        
            <div class="form-group rw">
                
              <mat-form-field appearance="outline" class="form-field rw1">
                  <mat-label>Email or phone</mat-label>
                  <input matInput type="email" placeholder="email or phone" >
                  
                  <mat-error>input is reqiured</mat-error>
              </mat-form-field>
             
                  
            </div>
            <div class="form-group rw">
                <p class="qua">Forget email?</p>
    
            </div>
            
            <!-- <div class="form-group rw">
                <p class="qua1">Not your computer? Use a private browsing window to sign in.
                    <button mat-button class="btn-basic" color="primary">Learn more</button> </p>
    
            </div> -->
    
            <div class="form-group rww buttons">
                <button mat-button class="btn-basic" color="primary"></button>
                <button mat-raised-button type="submit" class="btn-primary" color="primary" >Next</button>
            </div>
    
        </form>
    
    </div>
    
    </div>