.main {
  display: block;
  width: 820px;
  height: 560px;
  margin-left: 548px;
  margin-top: 200px;
  position: relative;
  align-items: center;
  border-style: solid;
  border-color: #c4c4c4;
  border-width: 0.5px;
  border-radius: 8px;
}
.form_box {
  width: 440px;
  height: 560px;
  // margin-left: 648px;
  // margin-top: 200px;
  // border-color: black;
  // border-style: dashed;
}

.row {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 40px;
}

.ttl {
  margin-left: 20px;
}

.form-group {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 20px;
}

.rw {
  margin-top: 70px;
}
.rww {
  margin-top: 80px;
}

.rw1 {
  width: 413px !important;
}

.uy {
  position: absolute;
  margin-left: 30px !important;
  margin-top: 40px !important;
  display: flex;
  justify-content: flex-start;
  
}

mat-form-field {
  width: 200px !important;
  height: 10px !important;
}
mat-hint {
  font-size: small;
}
.form-field {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.rwww {
  margin-left: 20px !important;
  margin-top: 80px;
}



.btn-basic {
  font-weight: 500;
  font-size: 14px;
  // color: #1363ee;
  // text-decoration: none;
  // background-color: #e8f0fb;
}
.btn-primary {
  min-width: 80px;
  font-size: 14px;
  color: white;
  font-weight: 500;
  background-color: #1a73e8;
}

.btn-basic:hover {
  background-color: #d3e5ff;
  color: #006eff;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #006eff;
  color: rgb(30, 29, 29);
  box-shadow: 0px 0px 8px gray;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.form_img {
  width: 350px;
  height: 400px;
  margin-left: 508px;
  margin-top: -500px;
  position: absolute;
  // border-color: black;
  // border-style: dashed;
  position: absolute;
}

.mm {
  font-size: 20px;
  font-family: Times, "Times New Roman", Georgia, serif;
}

// ::ng-deep .mat-form-field-flex .mat-form-field-infix input[type="password"] ~ .mat-form-field-suffix {
//   display: none;
// }

@media only screen and (min-width: 920px) and (max-width: 1200px) {
  .main {
    display: block;
    width: 470px;
    height: 590px;
    margin-left: 300px;
    margin-top: 200px;
    position: relative;
    align-items: center;
    border-style: solid;
    border-color: #c4c4c4;
    border-width: 0.5px;
    border-radius: 8px;
  }

  .form_img img {
    width: 0;
    height: 0;
  }

  .tt{
    opacity: 0 !important;
  }
  form{
    margin-left: 9px;
  }
  .ttl{
    margin-left: 36px;
  }
  .row{
    margin-left: 36px;
  }
  .b{
    margin-right: 5px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 919px) {
  .main {
    display: block;
    width: 470px;
    height: 590px;
    margin-left: 110px;
    margin-top: 200px;
    position: relative;
    align-items: center;
    border-style: solid;
    border-color: #c4c4c4;
    border-width: 0.5px;
    border-radius: 8px;
  }

  .form_img img {
    width: 0;
    height: 0;
  }
  .tt{
    opacity: 0 !important;
  }
  form{
    margin-left: 9px;
  }
  .ttl{
    margin-left: 36px;
  }
  .row{
    margin-left: 36px;
  }
  .b{
    margin-right: 5px;
  }
}

@media only screen and (max-width: 599px) {
  .main {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-left: 10px;
    margin-top: 10px;
    //position: relative;
    //align-items: center;
    border-style: solid;
    border-color: #f8f6f6;
    border-width: 0.5px;
    border-radius: 8px;
  }
  .form_box {
    width: 100%;
    height: 100vh;
    // margin-left: 748px;
    // margin-top: 300px;
   // position: absolute;
    // border-color: black;
    // border-style: dashed;
  }
  .ttl {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  .form_img img {
    display:none
    // width: 0%;
    // height: 0vh;
  }
  .form_img{
    display: none;
  }
  .tt{
    opacity: 0 !important;
  }
  .rww{
    margin-top: 92px;
  }

  .rwww{
    margin-top: 90px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
   margin-top: -40px;
    align-items: center;
    margin-bottom: 50px;
    margin-right: 79px;
   
  }

  .form-field {
    width: 100%;
   margin-left: 40px;
    margin-top: 70px;
    margin-right: 5px;
  }

  
.rw1 {
  width: 320px !important;
}

.rw2{
  width: 320px !important;
}

.uy {
  position: absolute;
  width: 90%;
  margin-left: 27px !important;
  margin-top: 0px !important;
  display: flex;
  justify-content: flex-start;
  
}
.bot{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  
}

.a{
  margin-left: 5px;
}
.b{
  margin-left: 180px;
}


.mayy{
  margin-left: -109px !important;
  margin-top: 35px !important;
}

}

