<div class="main">
<div class="form_box">
  <div class="row" style="font-weight:500">
    <p style="font-size: 30px ; color: #4285F4">F</p>
    <p style="font-size: 30px ; color: #EA4335">u</p>
    <p style="font-size: 30px ; color: #FBBC05">n</p>
    <p style="font-size: 30px ; color: #4285F4">d</p>
    <p style="font-size: 30px ; color: #34A853">o</p>
    <p style="font-size: 30px ; color: #EA4335">o</p>
  </div>
  <div class="ttl">
    <h1>Create Your Fundoo Account</h1>
  </div>

  <form>
    <div class="form-group"  >
        <mat-form-field appearance="outline" class="form-field" >
            <mat-label>First Name</mat-label>
            <input matInput type="text" placeholder="First Name"  >
            <mat-error>First name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" >
            <mat-error>Last name is required</mat-error>
        </mat-form-field>
    </div>

    <div class="form-group rw">
      <mat-form-field appearance="outline" class="form-field rw1">
          <mat-label>Username</mat-label>
          <input matInput type="email" placeholder="@gmail.com" formControlName="email">
          <mat-hint>You can use letters, numbers & periods</mat-hint>
          <mat-error>Username is reqiured</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group rww"  >
      <mat-form-field appearance="outline" class="form-field" >
          <mat-label>Password</mat-label>
          <input matInput type="text" placeholder="Password"  >
        
          <mat-error>Password is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
          <mat-label>Confirm</mat-label>
          <input matInput placeholder="Confirm" >
          <mat-error>Password is required</mat-error>
      </mat-form-field>
  </div>
  <br>
      <p class="uy">Use 8 or more characters with a mix of letters, numbers & symbols</p>

  <!-- <div class="form-group form-field rww">
    
   </div> -->

  <div class="form-group rwww form-field">
    <section class="example-section">
        <mat-checkbox class="example-margin">Show Password</mat-checkbox>
    </section>
    <br>
  </div>
    <div class="form-group rww buttons">
        <button mat-button class="btn-basic" color="primary">Sign in instead</button>
        <button mat-raised-button type="submit" class="btn-primary" color="primary" >Next</button>
    </div>


  </form>
  

</div>

<div class="form_img mm">
  <img src="../../../assets/account1.svg" alt="img" width="300" height="300" class="">
  <p class="tt" style=" opacity: 0.7;">One account.All of Fundoo <br>working for you.</p>
</div>

</div>