<div class="main">
<div class="form_box">
    <div class="row" style="font-weight:500">
        <p style="font-size: 30px ; color: #4285F4">F</p>
        <p style="font-size: 30px ; color: #EA4335">u</p>
        <p style="font-size: 30px ; color: #FBBC05">n</p>
        <p style="font-size: 30px ; color: #4285F4">d</p>
        <p style="font-size: 30px ; color: #34A853">o</p>
        <p style="font-size: 30px ; color: #EA4335">o</p>
    </div>
    <div class="ttl">
        <h1>Sign in</h1>
        <h3>to continue to Fundoo</h3>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="login()">
        
        <div class="form-group rw">
            <mat-form-field appearance="outline" class="form-field rw1">
                <mat-label>Username</mat-label>
                <input matInput type="email" placeholder="@gmail.com" formControlName="email">
                <mat-hint>You can use letters, numbers & periods</mat-hint>
                <mat-error>mail is reqiured</mat-error>
            </mat-form-field>
          </div>
      
          <div class="form-group rww"  >
            <mat-form-field appearance="outline" class="form-field rw1" >
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" formControlName="password" >
              
                <mat-error>Password is required</mat-error>
            </mat-form-field>
        </div>
    
        <div class="form-group rww"  >
            <div class="forgot" routerLink="/forget"><a href="forget">Forgot Password?</a></div>
        </div>
              
       
      
        
        <div class="form-group rw">
            <p class="qua1">Not your computer? Use a private browsing window to sign in.
                <button mat-button class="btn-basic" color="primary">Learn more</button> </p>

        </div>

        <div class="form-group1 rwy buttons">
            <button mat-button class="btn-basic a" color="primary" routerLink="/sign-up">Create account</button>
            <button mat-raised-button type="submit" class="btn-primary b" color="primary" >Next</button>
        </div>

    </form>

</div>

</div>