<div class="">
<div [ngClass]="message">
    <div *ngFor="let note of NotesList | filter: searchNote"> 
        <mat-card class="{{vv}}" [style.background]="note.color">
            <button class="pinbutton">
                <img class="{{pn}}" src="../../../assets/push_pin.svg">
            </button>
            <mat-card-title class="note-title" (click)="openDialog(note)">
                {{note.title}}
            </mat-card-title>
            <mat-card-content class="note-description" (click)="openDialog(note)">
                {{note.description}}
                <!-- <div> {{note.id}}</div> -->
            </mat-card-content>
         
            <app-iconsnote [noteObject]="note" (NotesDisplay)="receiveNotesDisplay($event)"></app-iconsnote>
        </mat-card>
    </div>
</div>

</div>