<div class="contaim">
<div [style.background]="data.color" style="width: 100%;">
    <div class="text-Title">
      <mat-card-title><input [style.background]="data.color" matInput [(ngModel)]="title"
          style="width: 400px; height: 30px; border: none; outline: none;"></mat-card-title>
    </div>
    <div class="text-body">
      <input [style.background]="data.color" matInput [(ngModel)]="description" style="width: 400px; height: 30px; border: none; outline: none;">
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between end">
      <div class="icons" style="position: fixed;">
        <app-iconsnote [noteObject]="data"></app-iconsnote>
        
      </div>
      <div class="raw">
        <button mat-icon-button (click)="closeDialog()" style="opacity: 0.9;font-size: 16px;">Close</button>
      </div>
    </div>
  </div>
</div>