<div class="main">
    <div class="form_box">
        <div class="row" style="font-weight:500">
            <p style="font-size: 30px ; color: #4285F4">F</p>
            <p style="font-size: 30px ; color: #EA4335">u</p>
            <p style="font-size: 30px ; color: #FBBC05">n</p>
            <p style="font-size: 30px ; color: #4285F4">d</p>
            <p style="font-size: 30px ; color: #34A853">o</p>
            <p style="font-size: 30px ; color: #EA4335">o</p>
        </div>
        <div class="ttl">
            <h1>Email recovery</h1>
           
        </div>
    
        <form [formGroup]="registerForm" (ngSubmit)="reset()">
            <h4 class="form-group_head">Enter your new password</h4>
            <div class="form-groupp rw">
                <mat-form-field appearance="outline" class="form-field rw1">
                    <mat-label>New Password</mat-label>
                    <input matInput [type]="hide?'password':'text'" placeholder="New Password" formControlName="password">
                    <mat-error>Password is required</mat-error>
                </mat-form-field>
            </div>
            <div class="form-groupp rww">
                <mat-form-field appearance="outline" class="form-field rw1" >
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="hide?'password':'text'"  placeholder="Confirm Password" formControlName="confirmPassword">
                    <mat-error>Password does not match</mat-error>
                </mat-form-field>
            </div>
            <div class="form-groupp form-field rwww mayy">
                <section class="example-section">
                    <mat-checkbox class="example-margin" (click)="ShowPassword()">Show Password</mat-checkbox>
                </section>
            </div>
            <br>
            <div class="form-groupp buttons bot">
                <button mat-button class="btn-basic a" color="primary">Cancel</button>
                <button mat-raised-button class="btn-primary b" color="primary">Next</button>
            </div>
        </form>
    
    </div>
    
    </div>
